.Nav {
    display: flex;
    flex-direction: column;
    align-items: center; /* Wyśrodkowanie w poziomie */
  }

.Nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.Nav ul li {
    margin: 10px 0;
}

.Nav ul li a {
    text-decoration: none;
}

.Nav ul li button {
    width: 150px;
}
