.footer {
  background: #333;
  color: #fff;
  padding: 0.5rem 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer .footer-content {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.footer .footer-link {
  color: #b3b3b3;
  text-decoration: none;
  transition: color 0.2s;
}

.footer .footer-link:hover {
  color: #e91e63;
}

.footer .footer-bottom {
  font-size: 0.75rem;
}

@media (max-width: 1348px) {
  .footer .footer-content {
    font-size: 2rem;
  }

  .footer .footer-bottom {
    font-size: 2rem;
  }
}

@media (max-width: 900px) {
  .footer .footer-content {
    font-size: 1.2rem;
  }

  .footer .footer-bottom {
    font-size: 1.2rem;
  }
}
